# Default ignored files
/shelf/
/workspace.xml
Selenium_Automation_framework-main/target/
Selenium_Automation_framework-main/logs/
logs/application.log
Selenium_Automation_framework-main/src/test/java/e_commerce/testReports/index.html